<%- include('./partials/admin-header', { title : "Catégories - Admin/oCoffee"}) %>

    <h1>Les catégories </h1>

    <a class="btn btn--left" href="/admin/categories/add" title="Ajouter une nouvelle catégorie">Ajouter une catégorie</a>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nombre de produits</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
                <% for( let category of locals.categories) { %>
                    <tr>
                        <td><%= category.name %></td>
                        <td><%= category.total %></td>
                        <td><a class="table__actions table__actions--delete" href="/admin/categories/delete/<%= category.id %>">Supprimer</a></td>
                    </tr>
                <% } %>
        </tbody>
    </table>

  </main>
</div>

<div class="modal">
  <div class="modal__content">
    <div class="modal__header">
      <h2>Etes vous sûr de vouloir supprimer cette catégorie ?</h2>
      <button type="button" class="btn--close">
        <img src="/images/close.svg" alt="">
      </button>
    </div>
    <div class="modal__body">
      <p>Supprimer cette catégorie va aussi supprimer tous les produits appartenant à cette catégorie. </p>
    </div>
    <div class="modal__footer">
      <button class="btn btn--danger" type="button">Confirmer</button>
      <button class="btn btn--cancel" type="button">Annuler</button>
    </div>
  </div>
</div>


<%- include('./partials/admin-footer') %>