<%- include('./partials/admin-header') %>

    <h1>Les produits</h1>
    <a class="btn btn--left" href="/admin/product/add" title="Ajouter un produit">Ajouter un produit</a>
    <table>
        <thead>
            <tr>
                <th>Référence</th>
                <th>Nom</th>
                <th>Prix au kilo (€)</th>
                <th>Caractéristique</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            
                <% for( let product of locals.products) { %>
                    <tr>
                        <td><%= product.reference %></td>
                        <td><%= product.name %></td>
                        <td><%= product.price_kilo %></td>
                        <td><%= product.category %></td>
                        <td><a class="table__actions" href="/admin/product/update/<%= product.reference %>">Modifier</a></td>
                        <td><a class="table__actions table__actions--delete" href="/admin/product/delete/<%= product.reference %>">Supprimer</a></td>
                    </tr>
                <% } %>
        </tbody>
    </table>
</main>

<%- include('./partials/admin-footer') %>