<%- include('./partials/header', { page : "catalog", title : "Catalogue - oCoffee"}) %>
    
        <main>
            <section class="section__banner section__banner--catalogue">
                <div class="banner__container">
                    <h2 class="banner__title">Le catalogue</h2>
                </div>
            </section>
            <div class="container">
                <section class="section__catalogue">

                    <% if (locals.categories?.length) { %>
                        <form action="/catalog/category" method="GET" id="form-category">
                            <label class="sr-only" for="category">Filtrer par catégorie</label>
                            <select name="category" id="category">
                                <option value="null" disabled>Catégorie</option>
                                <option value="all">Tous les produits</option>
    
                                <% for( category of categories ) { %>
                                    <option value="<%= category.main_feature %>"
                                        <% if(category.main_feature === locals.currentCategory) { %>
                                            selected
                                        <% } %>
                                    ><%= category.main_feature %></option>
                                <% } %>
                            </select>
                        </form>
                    <% } %>

                    <% if (locals.products?.length) { %>
                        <ul class="articles__list">
                            <% for( product of products) { %>
                                <li class="card ">
                                    <a class="card__link" href="/product/<%= product.reference %>" title="Voir le produit" aria-label="Aller sur la page du produit"></a>
                                    <div class="card__img" data-img="/images/<%= product.reference %>.png">
                                        <img src="/images/<%= product.reference %>.png" alt="">
                                    </div>
                                    <div class="card__content">
                                        <h3 class="card__title"><%= product.name %></h3>
                                        <p class="card__info">
                                            Caractéristique principale : <%= product.main_feature %>
                                        </p>
                                    </div>
                                </li>
                            <% } %>
                        </ul>
                        <% if (!locals.showAll && locals.currentCategory === undefined) { %>
                            <a class="btn" id="btn-show-all" href="/catalog/all" title="Afficher tous les produits" aria-label="Afficher tous les produits">Voir tout</a>
                        <% } %>
                    <% } else { %>
                    <p>Aucun produit à afficher</p>
                    <% } %>
                </section>
            </div>
        </main>

<%- include('./partials/footer') %>